apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
spec:
  replicas: 1

  selector:
    matchLabels:
      app: django

  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: django_app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
              - name: SECRET_KEY
                valueFrom:
                  secretKeyRef:
                    name: django-secrets
                    key: SECRET_KEY

              - name: DATABASE_URL
                valueFrom:
                  secretKeyRef:
                    name: django-secrets
                    key: DATABASE_URL
